<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jet's development notes</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#">Jet's DevNote</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-1.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Working as a software engineer, love coding and exploring technical things. Have passion on high teches, passionate about machine learning. </p>
        <p>Be brave to take challenges, feel fully resposibility and ownership for what is doing. Start things with ending, and ending with rethinking.</p>
        <p>Obsessed with wirting clean code, in the meanwhile, trying to extend self tech stack. Most importantly, love sharing, and this is why I want to start this blog.</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; AdTech 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script> -->

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

</body>

</html>
