<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-2.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!--main content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <form class="form-horizontal login-form" method="POST"  action="{{ url_for('validate_endpoint.login_validate') }}">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="input-email" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="input-pwd" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary login-button" onclick="handleClick()">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; AdTech 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script> -->

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  <script type="text/javascript">
      function handleClick() {
        var inputEmail = document.getElementById("inputEmail").value;
        var inputPwd = document.getElementById("inputPassword").value;

        if ( inputEmail.length < 3 || inputPwd.length < 6 ) {
          alert("Email or password not correct");
        }

        // $.ajax({
        //   url: "http://0.0.0.0:5001/login-validate",
        //   method: "POST",
        //   data: {
        //     inputEmail: inputEmail,
        //     inputPwd: inputPwd
        //   },
        //   success:function(){
        //     window.open("http://0.0.0.0:5001/add", "_self")
        //   }
        // });

      }

  </script>

</body>

</html>
