<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='clean-blog.min.css')}}" rel="stylesheet">

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<link href="{{ url_for('static', filename='css/bootstrap-markdown.min.css')}}" rel="stylesheet">

{% block content -%}

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#">Jet's DevNote</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-2.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Add my blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<form class="form-horizontal" action="{{ url_for('add_post_endpoint.add_post') }}" method="POST">

    {{ form.hidden_tag() }}

    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-offset-2  control-label input-md" for="title">
                Title
            </label>
            <div class="input-group col-md-8 col-md-offset-2">
                {{form.title(placeholder="Title", id="title", class="form-control", required="" )}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-offset-2  control-label input-md" for="title">
                Subtitle
            </label>
            <div class="input-group col-md-8 col-md-offset-2">
                {{form.subtitle(placeholder="subTitle", id="subtitle", class="form-control", required="" )}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-offset-2  control-label input-md" for="title">
                Author
            </label>
            <div class="input-group col-md-8 col-md-offset-2">
                {{form.author(placeholder="Author", id="author", class="form-control", required="" )}}
            </div>
        </div>

        <div class="form-group">
            <div>
                {{form.body(id="content", class="form-control", required="")}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                {{ form.submit(id="submit", class="btn btn-primary") }}
            </div>
        </div>
    </fieldset>
</form>
</body>


{%- endblock content %}


{% block scripts %}
{{ super() }}

{{ editormd.add_editormd_resource(autoLoadModules=False) }}
{{ editormd.add_editormd(autoHeight=True, autoLoadModules=False)}}

{%- endblock scripts %}